.resultTitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resultTitle p{
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

.resultTitle span{
    font-size: 1.3rem;
    font-weight: bold;
    color: #7f9d9f;
}

.result{
    font-size: 4.8rem;
    font-weight: bold;
    color: #26c2ae;
}