.billInput label,
.tipTitle,
.peopleInput label {
  font-size: 1.6rem;
  font-weight: bold;
  color: #5e7a7d;
}

input {
  cursor: pointer;
}

.billInput input {
  width: 37.9rem;
  height: 4.8rem;
  padding: 0.6rem 1.7rem 0.6rem 1.9rem;
  border-radius: 0.5rem;
  background-color: #f3f9fa;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00474b;
  text-align: right;
  margin-top: 0.6rem;
}

.billInput input:hover,
.customInput:hover,
.peopleInput input:hover {
  border: solid 0.2rem #26c2ae;
}

.dollarIcon {
  height: 1.6rem;
  opacity: 0.35;
  transform: translateX(3rem);
}

.dollarInput {
  display: flex;
  align-items: center;
  transform: translateX(-1.5rem);
}

.peopleInput input {
  width: 37.9rem;
  height: 4.8rem;
  padding: 0.6rem 1.7rem 0.6rem 1.9rem;
  border-radius: 0.5rem;
  background-color: #f3f9fa;
  font-size: 2.4rem;
  font-weight: bold;
  color: #00474b;
  text-align: right;
  margin-top: 0.6rem;
}

.personIcon {
  height: 1.6rem;
  opacity: 0.35;
  transform: translateX(3rem);
}

.personInput {
  display: flex;
  align-items: center;
  transform: translateX(-1.5rem);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  row-gap: 1.6rem;
  column-gap: 1.4rem;
  margin-top: 0.6rem;
}

.customInput {
  width: 11.7rem;
  height: 4.8rem;
  border-radius: 0.5rem;
  background-color: #f3f9fa;
  font-size: 2.4rem;
  text-align: center;
}

.customInput::placeholder {
  font-weight: bold;
  opacity: 1;
  color: #547878;
}

::placeholder {
  opacity: 0.35;
}
